header{
	width:100%;
	height:70px;
	top:0;
	position:fixed;
	background-color:white;
}
.heading{
	display:flex;
}
.learn{
	display:flex;
	padding:0;
	margin-left:600px;
}
.learn ul{
	margin:0px;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.learn ul li{
	margin:10px;
	font-family: "Poppins", helvetica;
	font-size:15px;
	color: #898989;
	font-weight:300px;
	line-height:50px;
	cursor:pointer;
}
.learn ul li:hover{
	 color:#b8a07e;
}
.heading img{
	max-height:40px;
	padding-top:10px;
	margin-left:180px;
}
.home{
	background:url(img/home-bg.jpg);
	height:100vh;
	width:100%;
	background-size:cover;
	padding-top:0;
}
.home h1{
	font-family: "Poppins", helvetica;
	font-size:40px;
	font-weight:800;
	color: #fff;
	padding-top:280px;
	padding-left:100px;
	font-weight:800;
	letter-spacing:1px;
}
.home p{
	font-family: "Poppins", helvetica;
	font-size:13px;
	color: #fff;
	padding-left:100px;
	font-weight:700;
	letter-spacing:3px;
}
.home ul{
	display:flex;
	padding-left:100px;
}
.home ul li{
	list-style:none;
}
.home ul li a{
	margin:10px;
	color:white;
}
main{
    width:100%;
	height:2900px;
}
.first{
	background-color:#f7f7f7;
	height:auto;
}
.first1{
	height:auto;
	display:flex;
	width:80%;
	margin-left:140px;
	padding-top:140px;
}
.f-img{
	padding-bottom:30px;
	border:20px solid #b8a07e;
}
.img1{
	width:320px;
}
.img1 img{
	margin-top: -60px;
	margin-left: 40px;
}
.pag{
	text-align:left;
	margin-left:85px;
	color: #999999;
}
.pag-h{
	font-family: "Playfair Display", serif;
    font-size: 28px;
}
.pag-p{
	 font-family: "Poppins", helvetica;
	 font-size:15px;
	 line-height:28px;
}
.main{
	background-color:#f7f7f7;
	width:100%;
	height:300px;
}
.action{
	 display:flex;
	 font-family: "Poppins", helvetica;
	 padding-top:100px;
	 width:80%;
	 margin-left:140px;
}
.act1 p{
	 font-size:13px;
	 color:#999999;
	 line-height:22px;
	 margin:0;
}
.act1 i{
	font-size:30px;
}
.PORTFOLIO{
	width:100%;
	height:800px;
}
.por-h h3{
	font-family: "Poppins", helvetica;
	font-size:28px;
	text-align:center;
}
.names ul{
	display:flex;
	font-family: "Poppins", helvetica;
	margin-left:510px;
}
.names ul li{
	list-style:none;
	cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #999999;
    margin-bottom: 5px;
	text-align:center;
}
.names ul li:hover{
	color:#b8a07e;
}
.image{
	display:flex;
	width:90%;
	margin-left:90px;
}
.img-p{
	width:30%;
	height:267px;
	margin:10px;
	position:relative;
}
.img-p img{
	height:267px;
}
.nob{
	height:auto;
	background-color:rgba(255, 255, 255, 0.9);
	position:absolute;
	top:130px;
	left:20px;
	right:30px;
	opacity:0;
	padding:10px;
	transition:0.5s;
}
.nob:hover{
    opacity:1;
}
.img2{
	display:flex;
	width:90%;
	margin-left:90px;
}
.img-p1{
	width:30%;
	height:267px;
	margin:10px;
	position:relative;
}
.img-p1 img{
    height:267px;
}
.JOURNAL{
	background-color:#f7f7f7;
	height:600px;
}
.jou-h h3{
	text-align:center;
	font-family: "Poppins", helvetica;
	padding-top:60px;
	font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.file{
	display:flex;
	margin-left:70px;
}
.jou-f{
	width:30%;
	margin:10px;
}
.jou-f img{
	height:267px;
}
.jou-f h4 a{
	text-decoration:none;
	color:black;
	font-family: "Poppins", helvetica;
	font-size:18px;
	letter-spacing:1px;
}
.jou-f h4 a:hover{
	color:#b8a07e;
}
.jou-f p{
	font-size:14px;
	font-family: "Poppins", helvetica;
	color:#999999;
	letter-spacing:1px;
}
.add{
	display:flex;
	width:100%;
}
.add-name{
	width:40%;
}
.add-name h3{
	font-family: "Poppins", helvetica;
	font-size:26px;
	color: #292929;
	padding-top:80px;
	margin-left:150px;
}
address{
    font-family:"Poppins", helvetica;
    font-size:16px;
    color:#898989;
	margin-left:150px;
	letter-spacing:1px;
	line-height:30px;
}
.details{
    width:44%;
    height:400px;
	margin-top:90px;
	margin-left:50px;
}
.lads{
    display:flex;
	justify-content:space-between;
}
.labs1 input{
	height:50px;
	width:261px;
	
}
.lads1 input{
	height:50px;
	width:580px;
}
textarea{
	margin-top:10px;
	min-height:160px;
	width:580px;
}
input{
	margin-top:10px;
}
button{
	margin-top:10px;
	height:40px;
	width:580px;
	background-color:black;
	color:#fff;
	font-family:"Poppins", helvetica;
}
footer{
	width:100%;
	height:200px;
	background-color:#f7f7f7;
	text-align:center;
}
.logos{
	padding-top:60px;
}
.logos p{
	font-family:"Poppins", helvetica;
	color:#999999;
	font-size:12px;
}